body {
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  margin-bottom: 100px;
  transition: margin-bottom 0.5s ease 0.5s;
  @include media(">phone") {
    margin-bottom: 120px;
  }
  @include media(">tablet") {
    // margin-bottom: 130px;
  }
  @include media(">laptop") {
    margin-bottom: 140px;
  }
  @include media(">lg-laptop") {
    margin-bottom: 150px;
  }
}

.wrapper {
  padding: 0 1rem 0 1rem !important;
  margin: 0 !important;
  @include media(">tablet") {
    padding: 0 3rem 0 3rem !important;
    margin: 0 !important;
  }
  @include media(">desktop") {
    padding: 0 7rem 0 7rem !important;
    margin: 0 !important;
  }
}
