.about-us {
  .header {
    margin: 0 !important;
    .container-header {
      position: relative;
      .title {
        height: 100%;
        padding: 50px 25px;
        width: 100vw;
        text-align: center;
        transition: padding 0.5s ease 0.5s;
        will-change: padding;
        font-weight: 600;
        @include media(">phone") {
          padding: 50px 40px;
        }
        @include media(">tablet") {
          padding: 150px 40px;
        }
        h1 {
          color: #000000;
          transition: font-size 0.5s ease 0.5s;
          will-change: font-size;
          font-style: normal;
          font-weight: 600;
          font-size: 2rem;
          @include media(">laptop") {
            font-size: 2.25rem;
          }
          @include media(">lg-laptop") {
            font-size: 2.5rem;
          }
          @include media(">desktop") {
            font-size: 3rem;
          }
        }
      }

      .corp-img {
        width: 100vw;
        height: 370px;
        background-image: url("../../../Assets/img/about-header-img-corp.jpg");
        // background-repeat: no-repeat;
        background-position: -400px;
        background-size: cover;
        transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
          background-position 0.5s ease 0.5s;
        will-change: height, width;
        @include media(">phone") {
          background-repeat: no-repeat;
          height: 450px;
          width: 100%;
        }
        @include media(">tablet") {
          height: 500px;
        }
        @include media(">laptop") {
          // background-position: -500px;
          background-position: initial;
          height: 550px;
        }
        @include media(">lg-laptop") {
          height: 600px;
        }
        @include media(">desktop") {
          background-size: cover;
          height: 660px;
        }
      }

      .description {
        width: 400px;
        height: 100%;
        // transform: translateY(-200px);
        position: relative;
        bottom: 120px;
        background-color: white;
        padding: 70px 30px;
        color: black;
        @include media(">tablet") {
          padding: 70px 110px;
          width: 888px;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 33px;
          @include media(">tablet") {
            font-size: 20px;
          }
          @include media(">laptop") {
            font-size: 22px;
          }
          @include media(">lg-laptop") {
            font-size: 24px;
          }
          @include media(">desktop") {
            font-size: 26px;
          }
        }
        .about-is {
          position: absolute;
          left: -50px;
          transform: rotate(270deg);
          font-size: 14px !important;
          font-weight: 600 !important;
          @include media(">tablet") {
            font-size: 16px !important;
            font-weight: 600 !important;
          }
        }
      }

      .circle {
        position: relative;
        right: 40%;
        bottom: 200px;
        width: 142px;
        height: 142px;
        font-weight: 600;
        background: rgba(111, 162, 96, 0.14);
        z-index: -1;
        @include media(">tablet") {
          right: 30%;
        }
        @include media(">laptop") {
          right: 30%;
        }
        @include media(">lg-laptop") {
          right: 26%;
        }
      }
    }
  }

  .vismis {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(">tablet") {
    align-items: start;
    }
    .vismis-img {
      width: 100vw;
      height: 200px;
      background-image: url("../../../Assets/img/about-img1-img-corp.jpg");
      background-repeat: no-repeat;
      background-position: 0;
      background-size: 100%;
      transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
      background-position 0.5s ease 0.5s;
      will-change: height, width;
      @include media(">tablet") {
        height: 300px;
      }
      @include media(">laptop") {
        // background-position: -500px;
        background-size: 454px;
        height: 550px;
      }
      @include media(">lg-laptop") {
        height: 600px;
      }
      @include media(">desktop") {
        background-position: initial;
        background-size: cover;
        height: 660px;
      }
    }

    .vismis-desc {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media(">laptop") {
        margin-top: 0;
        height: 100%;
      }
      .vision {
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        @include media(">laptop"){
          text-align: left; 
          align-items: start;
          height: 150px;
          justify-content: center;
        }
        .row {
          justify-content: center;
          @include media(">laptop") {
            justify-content: start;
          }
          h1 {
            color: #000000;
            transition: font-size 0.5s ease 0.5s;
            will-change: font-size;
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            @include media(">laptop") {
              font-size: 2.25rem;
            }
            @include media(">lg-laptop") {
              font-size: 2.5rem;
            }
            @include media(">desktop") {
              font-size: 3rem;
            }
          }
        }
      }
      .\& {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(">laptop") {
          justify-content: start;
          align-items: center;
        }
        h1 {
          color: #000000;
          transition: font-size 0.5s ease 0.5s;
          will-change: font-size;
          font-style: normal;
          font-weight: 600;
          font-size: 2rem;
          @include media(">laptop") {
            font-size: 2.25rem;
          }
          @include media(">lg-laptop") {
            font-size: 2.5rem;
          }
          @include media(">desktop") {
            font-size: 3rem;
          }
        }
      }
      .mission {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        @include media(">laptop"){
          height: 150px;
          text-align: left; 
          align-items: start;
          justify-content: center;
        }
        h1 {
          color: #000000;
          transition: font-size 0.5s ease 0.5s;
          will-change: font-size;
          font-style: normal;
          font-weight: 600;
          font-size: 2rem;
          @include media(">laptop") {
            font-size: 2.25rem;
          }
          @include media(">lg-laptop") {
            font-size: 2.5rem;
          }
          @include media(">desktop") {
            font-size: 3rem;
          }
        }
      }
    }
  }

  @include aboutUsSection();
}
