.consultant {
  .header {
    margin-top: 2rem;
    @include media(">laptop") {
      margin-top: 8rem;
    }
    .profile {
      padding: 0 1rem;
      @include media(">phone") {
        padding: 0 2rem;
      }
      .profile-img {
        display: flex;
        justify-content: center;
        @include media(">laptop") {
          justify-content: initial;
        }
        img {
          width: 290px;
          @include media(">laptop") {
            width: initial;
            height: 100%;
          }
        }
      }
      .profile-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @include media(">laptop") {
          text-align: left;
          justify-content: space-between;
          align-items: start;
        }
        h1 {
          font-weight: 600;
          font-size: 2rem;
          @include media(">laptop") {
            font-size: 2.25rem;
          }
          @include media(">lg-laptop") {
            font-size: 2.5rem;
          }
          @include media(">desktop") {
            font-size: 3rem;
          }
        }
        p {
          font-size: 16px;
          line-height: 30px;
          @include media(">tablet") {
            line-height: 33px;
            font-size: 18px;
          }
          @include media(">laptop") {
            line-height: 36px;
            font-size: 20px;
          }
          @include media(">lg-laptop") {
            line-height: 39px;
            font-size: 22px;
          }
        }
      }
    }
  }

  .portfolio {
    height: 100%;
    .title {
      font-size: 2rem !important;
      font-weight: 600;
      margin-bottom: 2rem;
      @include media(">tablet") {
        font-size: 2.25rem !important;
        margin-bottom: 4rem;
      }
      @include media(">laptop") {
        font-size: 2.5rem !important;
        margin-bottom: 6rem;
      }
      @include media(">lg-laptop") {
        margin-bottom: 8rem;
        font-size: 3rem !important;
      }
    }

    @for $i from 1 to 3 {
      .port-#{$i} {
        width: 100vw;
        height: 100%;
        .port-img {
          width: 100vw;
          height: 300px;
          background-image: url("../../../Assets/img/consultant-port-img#{$i}-corp.jpg");
          // background-repeat: no-repeat;
          background-position: -400px;
          background-size: cover;
          transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
            background-position 0.5s ease 0.5s;
          will-change: height, width;
          @include media(">phone") {
            background-repeat: no-repeat;
            height: 450px;
            width: 100%;
          }
          @include media(">tablet") {
            height: 500px;
          }
          @include media(">laptop") {
            // background-position: -500px;
            background-position: initial;
            height: 550px;
          }
          @include media(">lg-laptop") {
            height: 600px;
          }
          @include media(">desktop") {
            background-size: cover;
            height: 660px;
          }
        }

        .deskripsi {
          width: 100vw;
          height: 500px;

          .date {
            display: block;
            color: rgb(148, 148, 148);
            margin-bottom: 10px;
            @include media(">laptop"){
              margin-bottom: 1rem;
            }
          }

          h1 {
            font-weight: 600;
            font-size: 2rem;
            @include media(">laptop") {
              font-size: 2.25rem;
            }
            @include media(">lg-laptop") {
              font-size: 2.5rem;
            }
            @include media(">desktop") {
              font-size: 3rem;
            }
          }

          p {
            font-size: 16px;
            @include media(">tablet") {
              font-size: 18px;
            }
            @include media(">laptop") {
              font-size: 20px;
            }
            @include media(">lg-laptop") {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
