.home {
  .header {
    position: relative;
    .title {
      height: 100%;
      padding: 50px 25px;
      width: 100vw;
      text-align: center;
      transition: all 0.5s ease 0.5s;
      will-change: all;
      @include media(">phone") {
        padding: 50px 40px;
      }
      @include media(">tablet") {
        max-width: 930px;
        text-align: left;
        height: 100%;
        margin: 96px 0 144px 40px;
      }
      @include media(">laptop") {
        max-width: 1050px;
        margin: 96px 0 144px 60px;
      }
      @include media(">lg-laptop") {
        max-width: 1150px;
        margin: 96px 0 144px 100px;
      }
      @include media(">desktop") {
        margin: 96px 0 144px 155px;
        max-width: 1350px;
      }
      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        color: #000000;
        transition: font-size 0.5s ease 0.5s;
        will-change: font-size;
        @include media(">laptop") {
          font-size: 2rem;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
    }

    .circle {
      z-index: -1;
      position: absolute;
      top: 150px;
      left: -40px;
      width: 142px;
      height: 142px;
      background-color: rgba(111, 162, 96, 0.14);
      border-radius: 50%;
      transition: all 0.5s ease 0.5s;
      @include media(">tablet") {
        top: 300px;
        left: initial;
        right: -60px;
      }
      p {
        transform: rotate(90deg);
        position: relative;
        left: -20px;
        top: 60px;
        font-size: 8px;
        font-weight: 600;
        transition: all 0.5s ease 0.5s;
        @include media(">tablet") {
          transform: rotate(270deg);
          left: -10px;
          top: -30px;
          font-size: 10px;
        }
        @include media(">lg-laptop") {
          left: -30px;
          font-size: 14px;
        }
      }
    }

    .corp-img {
      width: 100vw;
      height: 370px;
      background-image: url("../../../Assets/img/home-header-img-corp.jpg");
      // background-repeat: no-repeat;
      background-position: -400px;
      background-size: cover;
      transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
        background-position 0.5s ease 0.5s;
      will-change: height, width;
      @include media(">phone") {
        background-repeat: no-repeat;
        height: 450px;
        width: 100%;
      }
      @include media(">tablet") {
        height: 500px;
      }
      @include media(">laptop") {
        background-position: -500px;
        height: 550px;
      }
      @include media(">lg-laptop") {
        height: 600px;
      }
      @include media(">desktop") {
        background-position: initial;
        background-size: cover;
        height: 660px;
      }
    }
  }

  @include aboutUsSection();

  .portfolio {
    width: 100vw;
    height: 100vh;
    background-color: #147fab;

    .title {
      text-align: center;
      padding-top: 3rem;
      color: white;
      @include media(">laptop") {
        z-index: 99;
        width: 300px;
        height: 170px;
        position: absolute;
        background-color: #fff;
        color: #147fab;
      }
      @include media(">lg-laptop") {
        width: 400px;
        height: 210px;
      }
      h1 {
        font-size: 3rem;
        font-weight: 600;
        @include media(">laptop") {
          position: absolute;
          bottom: 20px;
          right: 40px;
          font-size: 2.25rem;
          font-style: normal;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
    }

    .port-photos {
      height: 650px;
      width: 100%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include media(">laptop") {
        height: 100%;
        position: relative;
        padding: 75px;
      }
      a {
        z-index: 99;
        width: 200px;
        height: 40px;
        color: white;
        font-weight: 600;
        font-size: 18px;
        @include media(">laptop") {
          width: 250px;
          font-size: 20px;
          position: absolute;
          right: 110px;
          top: 80px;
        }
        @include media(">lg-laptop") {
          font-size: 22px;
        }
        @include media(">desktop") {
          right: 180px;
          font-size: 24px;
          width: 270px;
        }
      }
      .swiper-container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 40px 0;
        @include media(">laptop") {
          padding: 100px 0;
        }
        .swiper-wrapper {
          .swiper-slide {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            box-shadow: 0px 1px 20px 1px #595959;
            margin: 0 30px;
            width: 400px !important;
            @for $i from 0 to 5 {
              &:nth-child(#{$i}) {
                background-image: url("../../../Assets/img/home-port-img#{$i}-corp.jpg");
              }
            }
          }
        }
      }
    }
  }

  .news {
    .title {
      h1 {
        font-style: normal;
        font-weight: 600;
        color: #147fab;
        transition: font-size 0.5s ease 0.5s;
        will-change: font-size;
        font-size: 2.25rem;
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
    }

    .subtitle {
      max-width: 500px;
      height: 100%;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      margin: 50px 0 96px 0;
      color: #6c6c6c;
      text-align: center;
      transition: font-size 0.5s ease 0.5s, max-width 0.5s ease 0.5s;
      @include media(">tablet") {
        max-width: 610px;
        font-size:  26px;
      }
      @include media(">lg-laptop") {
        font-size: 30px;
        max-width: 780px;
      }
    }

    .news-card {
      display: flex;
      justify-content: center;
      position: relative;
      @include media(">1300px") {
        width: 1300px;
      }
      @include media(">1500px") {
        width: 1500px;
      }
      @include media(">1800px") {
        width: 1700px;
        height: 100%;
      }
      .row {
        &.row-cols-xl-4 > * {
          @include media(">1200px") {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 30%;
          }
          @include media(">1500px") {
            max-width: 25%;
          }
        }
        @include media(">tablet") {
          justify-content: center;
        }
        @include media(">laptop") {
          justify-content: space-between;
        }
        .col {
          margin: 0 0 5rem 0;
          @include media(">1200px") {
            margin: 2rem 0 5rem 0;
          }
          @include media(">1500px") {
            margin: 2rem 2rem 5rem 2rem;
          }
          .card {
            background-color: white;
            -webkit-filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            width: 400px;
            height: 100%;
            // padding-bottom: 36px;
            border-radius: 10px;
            .card-title {
              // font-smooth: ;
              font-weight: bold;
              font-size: 28px;
              line-height: 38px;
            }
          }
        }
      }
    }
  }
}
