.news {
  .header {
    position: relative;
    .title {
      height: 100%;
      padding: 50px 25px;
      width: 100vw;
      text-align: center;
      transition: padding 0.5s ease 0.5s;
      will-change: padding;
      @include media(">phone") {
        padding: 50px 40px;
      }
      @include media(">tablet") {
        padding: 150px 40px;
      }
      h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        color: #000000;
        transition: font-size 0.5s ease 0.5s;
        will-change: font-size;
        @include media(">laptop") {
          font-size: 2.25rem;
        }
        @include media(">lg-laptop") {
          font-size: 2.5rem;
        }
        @include media(">desktop") {
          font-size: 3rem;
        }
      }
    }

    .corp-img {
      width: 100vw;
      height: 370px;
      background-image: url("../../../Assets/img/about-header-img-corp.jpg");
      // background-repeat: no-repeat;
      background-position: -400px;
      background-size: cover;
      transition: height 0.5s ease 0.5s, width 0.5s ease 0.5s,
        background-position 0.5s ease 0.5s;
      will-change: height, width;
      @include media(">phone") {
        background-repeat: no-repeat;
        height: 450px;
        width: 100%;
      }
      @include media(">tablet") {
        height: 500px;
      }
      @include media(">laptop") {
        // background-position: -500px;
        background-position: initial;
        height: 550px;
      }
      @include media(">lg-laptop") {
        height: 600px;
      }
      @include media(">desktop") {
        background-size: cover;
        height: 660px;
      }
    }
  }

  // @include aboutUsSection;

  section.news {
    text-align: center;
    .news-card {
      display: flex;
      justify-content: center;
      position: relative;
      @include media(">1300px") {
        width: 1300px;
      }
      @include media(">1500px") {
        width: 1500px;
      }
      @include media(">1800px") {
        width: 1700px;
        height: 100%;
      }
      .row {
        &.row-cols-xl-4 > * {
          @include media(">1200px") {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 30%;
          }
          @include media(">1500px") {
            max-width: 25%;
          }
        }
        @include media(">tablet") {
          justify-content: center;
        }
        @include media(">laptop") {
          justify-content: space-between;
        }
        .col {
          margin: 0 0 5rem 0;
          @include media(">1200px") {
            margin: 2rem 0 5rem 0;
          }
          @include media(">1500px") {
            margin: 2rem 2rem 5rem 2rem;
          }
          .card {
            background-color: white;
            -webkit-filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            width: 400px;
            height: 100%;
            // padding-bottom: 36px;
            border-radius: 10px;
            .card-title {
              // font-smooth: ;
              font-weight: bold;
              font-size: 28px;
              line-height: 38px;
            }
          }
        }
      }
    }
  }

  .news {
    .form-row {
      @include media(">tablet") {
        padding: 0 5rem;
      }
    }
    .news-card {
      display: flex;
      justify-content: center;
      position: relative;
      @include media(">desktop") {
        width: 100%;
        height: 100%;
      }
      .row {
        .col {
          margin: 2rem;
          border-radius: 10px;
          .card {
            background-color: white;
            -webkit-filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            filter: drop-shadow(0px 4px 43px rgba(133, 133, 133, 0.25));
            height: 100%;
            padding-bottom: 36px;
            .card-img {
              width: 100%;
              height: 272px;
              overflow: hidden;

              .card-img-top {
                width: 100%;
                height: 100%;
                pointer-events: none;
              }
            }
            .card-title {
              // font-smooth: ;
              font-weight: 600;
              font-size: 28px;
              line-height: 38px;
              .news-link {
                color: #147fab;
              }
            }
            .card-text {
              @include media(">lg-laptop") {
                font-size: 16px;
              }
              @include media(">desktop") {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
