footer {
  .footer-container {
    width: 100vw;
    height: 100%;
    padding: 75px 25px;
    color: white;
    font-size: 18px;
    background: linear-gradient(
      180deg,
      #147fab 23.44%,
      #004764 133.34%,
      rgba(25, 95, 123, 0) 250.14%
    );
    @include media(">tablet") {
      padding: 75px;
    }
    .logo {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      @include media(">laptop") {
        margin: 0;
      }
      img {
        width: 80px;
        @include media(">laptop") {
          width: 120px;
        }
      }
    }

    .contact {
      height: 100%;
      margin-bottom: 20px;
      @include media(">laptop") {
        align-items: center;
        height: 200px;
        margin: 0;
      }
      @include media(">lg-laptop") {
        align-items: start;
      }

      .contact-email {
        a {
          color: #e1f8bf;
          text-decoration: underline;
          &:hover {
            color: white;
          }
        }
      }
    }

    .newsletter {
      height: 200px;
      // margin-bottom: 20px;
      @include media(">laptop") {
        // margin: 0;
      }
    }

    .btn-primary {
      background-color: #147fab;
      border-color: #147fab;
      &:hover {
        background-color: #116f94;
        border-color: #116f94;
      }
    }
  }

  .copyright {
    width: 100%;
    height: 40px;
    background-color: #004764;
    color: rgba(252, 252, 252, 0.42);
  }
}
